<footer class="we-footer width-full">
    <div class="container">
        <div class="row">
        <div class="row we-Footer-section we-Footer-section--sub">
            <div class="we-Footer-section-item">
                <div class="we-Logo we-Logo--big">
                    Mindtree. <strong>Minds!!!!!</strong>
                </div>
                <div class="we-Footer-nav">
                    <h2>Footer Toolbar</h2>
                </div>
            </div>
        </div>

        <div class="row we-Footer-section we-Footer-section--sub">
            We can See the Mindtree Coded Containt by Minds
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <a href="#top" class="btn btn-primary">Back to the Top</a>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>